@page
@model NoteBook.Pages.Moods.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mood[0].MoodId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Mood) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MoodId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MoodPic">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MoodPic">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MoodPic">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
