@page
@model NoteBook.Pages.Moods.IndexModel

@{
    ViewData["Title"] = "Moods";
}

<h1 style="color: cornflowerblue">Moods</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mood[0].MoodPic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Mood) {
        <tr>
            <td style="font-size: 28px;">
                @Html.DisplayFor(modelItem => item.MoodPic)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MoodId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MoodId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MoodId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
