@page
@model NoteBook.Pages.PhotoDiaries.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PhotoDiary</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoDiary.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhotoDiary.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoDiary.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhotoDiary.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoDiary.FirstContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhotoDiary.FirstContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoDiary.secondContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhotoDiary.secondContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoDiary.template)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhotoDiary.template.TemplateId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PhotoDiary.PhotoDiaryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
