@page
@model NoteBook.Pages.Journals.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div id="notebookTitle">
    <a asp-page="../NoteBookPage" asp-route-id="@Model.Journal.NotebookId" style="font-size:18px; color:cornflowerblue">Back</a>
    <h3 id="notebookName"> @Html.DisplayFor(model => model.Journal.notebook.Name)</h3>
    <div></div>
</div>
<div id="journalFrame" class="shadow-sm" style="background-color:@Html.DisplayFor(model => model.Journal.color.ColorString)">
    <p style="color: lightslategray;">@Html.DisplayFor(model => model.Journal.Date)</p>
    <hr />
    <div id="banner">
        <p style="font-size: 28px">@Html.DisplayFor(model => model.Journal.mood.MoodPic)</p>
        <div class="d-flex">
            <p class="fs-4 fw-bolder" style="width: 80px; line-height: 40px;">@Html.DisplayFor(model => model.Journal.weather.WeatherName)</p>
            <image style="width:40px;height:40px;" src="@Html.DisplayFor(model => model.Journal.weather.WeatherPic)"></image>
        </div>
    </div>
    <div id="title">
        <h4>@Html.DisplayFor(model => model.Journal.Title)</h4>
    </div>
    <div id="content">
        <p>@Html.DisplayFor(model => model.Journal.Content)</p>
    </div>


    @if(@Model.Journal.Note != null){
       
        <div class="form-notes-pic" style="width: 100%; margin-top: 8%">
            <p class="fs-5 notes form-notes rounded shadow-sm" style="background-color:lightyellow">@Html.DisplayFor(model => model.Journal.Note)</p>
            <div class="form-pic" style="background-color:transparent">@*<img src="..." class="rounded float-end" alt="...">*@</div>
        </div>

     }


    <div id="underbanner">
        <a asp-page="./Edit" asp-route-id="@Model.Journal.JournalId">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>
