@page
@model NoteBook.Pages.Journals.IndexModel

@{
    ViewData["Title"] = "My Journals";
}
<style>
    .table td{
        vertical-align:middle;
    }
</style>
<h1>My Journals</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Journal[0].notebook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Journal[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Journal[0].Date)
            </th>
            @*      <th>
            @Html.DisplayNameFor(model => model.Journal[0].Content)
        </th>*@

            <th>
                @Html.DisplayNameFor(model => model.Journal[0].weather)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Journal[0].mood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Journal[0].color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Journal) {
        <tr>
            <td class="font-weight-bold">
                @Html.DisplayFor(modelItem => item.notebook.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
       @*     <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>*@
            <td>
                <image src="@Html.DisplayFor(modelItem => item.weather.WeatherPic)" style="width:40px;height:40px;"></image>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mood.MoodPic)
            </td>
            <td>
                <div class="shadow-sm" style="width:30px;height:30px;border-radius:4px;background-color:@Html.DisplayFor(modelItem => item.color.ColorString)"></div>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.JournalId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.JournalId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.JournalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
