@page
@model NoteBook.Pages.Weathers.IndexModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Weather";
}

<h1 style="color: lightgrey">Weather</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Icon
            </th>
            <th>
                Weather
            </th>
            <th>
                File
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Weather)
        {
            <tr>
                <td style="vertical-align:baseline">
                    <image class="weatherPic" src="@Html.DisplayFor(modelItem => item.WeatherPic)" style="width:60px;height:60px;"></image>
                </td>
                <td class="font-weight-bold" style="vertical-align:baseline;">
                    @Html.DisplayFor(modelItem => item.WeatherName)
                </td>
                <td style="vertical-align:baseline">
                    @Html.DisplayFor(modelItem => item.WeatherPic)
                </td>
                <td style="vertical-align:baseline">
                    <a asp-page="./Edit" asp-route-id="@item.WeatherId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.WeatherId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.WeatherId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
